table{
    width: 100%;
}

th, td{
    color: black;
}

.spinner{
    text-align: center;
    margin: auto;
    margin-top: 10%;
    width: 5%;
}

.empty{
    font-weight: bold;
    margin-top: 30%;
    font-size: 300%;
    line-height: 150%;
}

.button{
    width: auto;
    height: auto;
    padding: 2%;
}

button{
    background-color: #ff4081 !important;
}

.add-button{
    width: 100%;
}