<mat-card class="card" appearance="outlined">
    <mat-card-header>
        <button (click)="delete()" mat-mini-fab class="cart">
            <mat-icon>close</mat-icon>
        </button>
      <mat-card-title>{{beautifyDbName(orderItem.name)}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">   
        <div>
            <p class="error" *ngIf="error">Illegal quantity!</p>
            <mat-form-field appearance="outline">
                <mat-label>Quantity</mat-label>
                <input type="number" matInput value=1 min="1" max="999" [(ngModel)]="quantity" (change)="update()">
                <mat-hint>Ex. 1</mat-hint>
            </mat-form-field>
        </div>
    </mat-card-content>
  </mat-card>
  