name: Deploy Documentation 

on:
  push:
    branches:
      - main
      - develop
permissions:
  contents: write

jobs:

  #kotlinDoc:
   # name: deploy kotlin doc
    #uses: ./.github/workflows/kotlin_doc.yml
    
  #typeDoc:
   # needs: 
    #  - kotlinDoc
   # name: deploy typescript doc
    #uses: ./.github/workflows/typescript_doc.yml

  javaDoc:
    name: deploy javadoc
    uses: ./.github/workflows/javadoc.yml
  