name: Run tests with MongoDB

on:
  workflow_call:
jobs:
  build:
    strategy:
      matrix:
        java-version: [ 16 ]
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.11.0
        with:
          mongodb-db: 'Warehouse'
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Warehouse Microservice
        run: ./gradlew run &

      - uses: actions/setup-node@v4
        with:
          node-version: '>=20.10.0'
      - name: Start server
        working-directory: server
        run: |
          npm install
          npx ts-node ./src/server &

      - name: Run Tests
        working-directory: server
        run: |
          sleep 20
          npm test