name: Sonarcloud workflow

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
jobs:
  sonarcloud:
    name: Build and analyze
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/setupAction
      
      - name: Gradle (build and coverage)
        run: |
          chmod +x gradlew
          ./gradlew jacocoTestReport

      - name: Coverage server
        uses: ./.github/serverTest
        with:
          command: '--coverage'

      - name: SonarQube Scan
        run: |
          chmod +x gradlew
          ./gradlew build sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}