name: Sonarcloud workflow

on:
  pull_request:
    branches:
      - main
      - develop
jobs:
  sonarcloud:
    name: Build and analyze
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: elisaalbertini/paguroDbRepo/.github/setupAction@main

      - name: Coverage server
        uses: elisaalbertini/paguroDbRepo/.github/serverTest@main

      - name: Gradle (build and coverage)
        run: |
          chmod +x gradlew
          ./gradlew jacocoTestReport

      - name: Kill node 
        run: killall node
      
      - name: Coverage orders-service
        working-directory: orders-service
        run: |
          npm install
          npx jest --coverage
        shell: bash

      - name: Coverage menu-service
        working-directory: menu-service
        run: |
          npm install
          npx jest --coverage
        shell: bash

      - name: Merge coverage
        working-directory: ${{ github.workspace }}
        run: | 
          mkdir ${{ github.workspace }}/menu-service/final-coverage
          cd ${{ github.workspace }}/menu-service/final-coverage
          npx istanbul-merge --out coverage.json ${{ github.workspace }}/menu-service/coverage/coverage-final.json ${{ github.workspace }}/orders-service/coverage/coverage-final.json ${{ github.workspace }}/server/coverage/coverage-final.json
          npx istanbul report --dir coverage --include ${{ github.workspace }}/menu-service/final-coverage/coverage.json lcov

      - name: SonarQube Scan
        run: |
          chmod +x gradlew
          ./gradlew build sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}