name: Ts format check workflow

on:
  workflow_call:
jobs:
  tsFormatCheck:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install and check
        working-directory: manager-application, server
        run: |
          npm install 
          npx tsfmt --verify