name: Ts format check workflow

on:
  workflow_call:
jobs:
  tsFormatCheck:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        dir: ['manager-application']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install and check
        working-directory: ${{ matrix.dir }}
        run: |
          npm install 
          tsfmt --verify
